body {
    font-family: 'Maple Mono CN';
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style-type: square
}

.flexbox {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.topline {
    border: none;
    height: 1px;
    background-color: #bbbbbb;
    width: 95%;     
    margin: 0 auto; 
}

.bottomline {
    border: none;
    height: 1px;
    background-color: #bbbbbb;
    width: 95%;      
    margin: 0 auto; 
}


#content {
    flex: 1;
    padding: 10px;
    font-size: clamp(20px, 2.5vh, 2.5vh);  
    font-size: 20px;  
    width: 60%;  
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: center;        
    align-items: center;            
    margin: 0 auto;
    padding: 15px 0;
    background-color: white;
}

header nav {
    background-color: white;
    display: flex;
    justify-content: center;
}

header nav a {
    color: #666;
    text-decoration: none;
    font-size: clamp(18px, 2.25vh, 2.25vh); 
    margin: 0 20px;
}

header nav a:hover {
    background-color: #d3d3d3;
    border-radius: 4px;
}

footer {
    text-align: center;
    margin: 0 auto;
    font-size: clamp(12px, 1.5vh, 1.5vh);
    padding: 10px 0;
    color: #666;
}