/* :root {
  --color-bg-topline: #bbbbbb;
  --color-bg-bottomline: #bbbbbb;
  --color-link: black;
  --color-bg-link-hover: #d3d3d3;
  --color-toc: #818181;
  --color-abstract: gray;
  --color-abstract-border-left: #ccc;
  --color-timestamp: gray;
  --color-tag-top-checkered: black;
  --color-tag-top-checkered-border: black;
  --color-tag-top: lightgray; 
  --color-tag-top-border: lightgray;
  --color-tag-after: gray; 
} */

:root {
  --color: #cccccc;
  --color-bg: #2c2c2c;
  --color-bg-topline: #444;
  --color-bg-bottomline: #444;
  --color-link: #c7c7c7;
  --color-bg-link: #2c2c2c;
  --color-link-hover: #000000;
  --color-bg-link-hover: #c7c7c7;
  --color-toc: #b0b0b0;
  --color-abstract: #b0b0b0;
  --color-abstract-border-left: #666;
  --color-footnote: #b0b0b0;
  --color-footnote-border-left: #666;
  --color-timestamp: #b0b0b0;
  --color-tag-top-checkered: #e0e0e0;
  --color-tag-top-checkered-border: #e0e0e0;
  --color-tag-top: #555; 
  --color-tag-top-border: #555;
  --color-tag-after: #adadad; 
  --color-leading-star: #ccc;
}

body {
  font-family: 'Maple Mono NF CN';
  font-weight: '400';
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--color);
  background-color: var(--color-bg);
  text-decoration-skip-ink: none;
}

ul {
  list-style-type: square;
}

a {
  display: inline-block;
  color: var(--color-link);
  background-color: var(--color-bg-link);
  text-decoration: underline;
  border-radius: 0.3rem;
  font-weight: bold;
}

a:hover {
  color: var(--color-link-hover);
  background-color: var(--color-bg-link-hover);
  text-decoration: none;
}

.toc-marker {
  display: none;
}

.flexbox {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.topline {
  border: none;
  height: 0.05rem;
  background-color: var(--color-bg-topline);
  width: 95%;     
  margin: 0 auto; 
}


.bottomline {
  border: none;
  height: 1rem;
  background-color: var(--color-bg-bottomline);
  width: 95%;      
  margin: 0 auto; 
}


#content {
  flex: 1;
  padding: 1rem;
  margin: 0 auto;
  font-size: 1.2rem;  
}

/* .content {
  width: 50vw;
  max-width: 48rem;
  min-height: 84vh;
  margin: 1rem auto;
} */

.content {
  position: relative;
}

/* 目录和脚注 */
/* 通用样式 */
/* 标题 */
#table-of-contents h2 {
  display: none;
}

#footnotes h2 {
  display: none;
}

/* 文本 */
#table-of-contents #text-table-of-contents {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color:  var(--color-toc);
  font-size: 1.0rem;
}

#footnotes #text-footnotes {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left: 4px solid var(--color-footnote-border-left);
  color:  var(--color-footnote);
  font-size: 1.0rem;
}

/* 最外层元素 */
#table-of-contents #text-table-of-contents ul {
  list-style-type: none;
  margin: 0rem 1rem;
  padding: 0rem 0rem;
}

#footnotes #text-footnotes .footdef {
  margin: 0rem 1rem;
  padding: 0rem 0rem;
}

/* 内部元素 */
#table-of-contents #text-table-of-contents ul ul {
  padding-inline-start: 0.5rem;
}

#table-of-contents #text-table-of-contents li a {
  color: var(--color-toc);
}

#table-of-contents #text-table-of-contents li a:hover {
  color: var(--color-link-hover);
  background-color: var(--color-bg-link-hover);
}

#footnotes #text-footnotes .footnum {
  display: inline-block;
}

#footnotes #text-footnotes .footnum:hover {
  color: var(--color-link-hover);
  background-color: var(--color-bg-link-hover);
}

/* 对于宽屏 */
@media screen and (min-width: 780px) {
  #content {
    width: 60vw;
  }
  
  #table-of-contents #text-table-of-contents {
    position: fixed;
    width: 20vw;
    right: 0vw;
    top: 10vh;
    height: 80vh;
    overflow: auto;
    transform: scale(80%);
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }

  #footnotes #text-footnotes {
    position: fixed;
    width: 20vw;
    left: 0vw;
    top: 10vh;
    height: 80vh;
    overflow: auto;
    transform: scale(80%);
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }

  #table-of-contents #text-table-of-contents ul {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* margin: 0rem 0rem; */
    padding: 0rem 0rem;
  }

  #footnotes #text-footnotes .footdef {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    /* margin: 0rem 0rem; */
    padding: 0rem 0rem;
  }
}

/* 各级headline */
/* 通用设置 */
h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin: 0rem 0rem;
  padding: 0rem 0rem;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.4rem;
}

/* 类Eamcs风格headline前星号 */
div > h2::before,
div > h3::before,
div > h4::before,
div > h5::before,
div > h6::before {
  color: var(--color-leading-star);
}

div > h2::before {
  content: "* ";
}

div > h3::before {
  content: "** ";
}

div > h4::before {
  content: "*** ";
}

div > h5::before {
  content: "**** ";
}

div > h6::before {
  content: "***** ";
}

/* 标题 */
.title, .subtitle {
    text-align: center;
}

/* header */
header {
    display: flex;
    justify-content: center;        
    align-items: center;            
    margin: 0 0;
    padding: 0.5rem 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  /* border: none; */
  font-size: 1.3rem; 
  margin: 0rem 1rem;
}

/* footer */
footer {
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    padding: 0.5rem 0;
}

/* 按Tag筛选 */
.filter {
  text-align: center;
  font-size: 0.8rem;

  label {
    position: relative;
  }

  .category {
    span:before {
      /* content:"✓"; */
      position:absolute;
      top: 0m;
      right: 0rem;
      font-size: 1.2rem;
      font-weight: bold;
      transform:scale(0.5);
      display: none;
    }

    display: inline-flex;
    input {
      display: none;
    }
    input:checked + span:before {
      display: block;
    }
    input:checked + span {
      color: var(--color-tag-top-checkered);
      border-color: var(--color-tag-top-checkered-border);
      font-size: 1.2rem;
    }
    span {
      color: var(--color-tag-top);
      border: 2px var(--color-tag-top-border) solid;
      font-size: 1.2rem;
      border-radius: 0.8rem;
      padding: 0rem 0.7rem;
      user-select: none;
      cursor: pointer;
    }
  }
}

.filter ~ ul {
  padding-inline-start: 0.5rem;
}

ul .filetags {
    float: right;
}

.filetags::after {
  content: attr(data-filetags);
  color: var(--color-tag-after);
}


@media screen and (min-width: 780px) {
  #postamble .info {
    flex-direction: row;
  }
}

/* 时间戳 */
.timestamp {
  color: var(--color-timestamp);
  font-size: 1rem;
}

/* 摘要 */
.abstract {
  margin: 1rem 2rem;
  padding-left: 1rem;
  border-left: 4px solid var(--color-abstract-border-left);
  color:  var(--color-abstract);
  font-size: 1.0rem;
}