/* css/styles.css */

/* 全局 */
body {
    font-family: "Times New Roman", Times,'LXGW WenKai',STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* wrapper使用flex布局，实现“内容撑满剩余空间” */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 视口高度 */
}

.topline {
    border: none;
    height: 1px;
    background-color: #424242;
    width: 95%;        /* 屏幕宽度的90% */
    margin: 0 auto;    /* 居中 */
}

.bottomline {
    border: none;
    height: 1px;
    background-color: #424242;
    width: 95%;        /* 屏幕宽度的90% */
    margin: 0 auto;    /* 居中 */
}

/* main 占据剩余空间 */
main {
    flex: 1;
    padding: 10px;
    /* font-size: clamp(20px, 2.5vh, 60px);   */
    font-size: 20px;  
    width: 60%;  
    margin: 0 auto;
}

/* 导航栏 */
header {
    display: flex;
    justify-content: center;        /* 左右分布 */
    align-items: center;            /* 垂直居中 */
    margin: 0 auto;
    padding: 15px 0;
    background-color: white;
}

header nav {
    background-color: white;
    display: flex;
    justify-content: center;
}

header nav a {
    color: #666;
    text-decoration: none;
    font-size: 20px;  
    margin: 0 20px;
}

header nav a:hover {
    background-color: #d3d3d3;
    border-radius: 4px;
}

/* 页脚 */
footer {
    text-align: center;
    margin: 0 auto;
    font-size: 0.9em;
    color: #666;
}