*
*/

!LICENSE
!CNAME
!README.md
!.gitignore

!feed.atom
!feed.xml
!favicon.svg

!.github/
!.github/**/
!.github/**/*.yaml

!*.html
!store/
!store/**/
!store/**/*.html

!css/
!css/**/
!css/**/*.css

!scripts/
!scripts/**/
!scripts/**/*.js